<!DOCTYPE html>
<html lang="en" th:replace="~{home/layout.html :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${user.displayName} + ' - Followers'">Followers</title>
</head>

<body>
    <main class="followers">
        <link rel="stylesheet" th:href="@{/css/followers.css}">
        <h1 th:text="${user.displayName}">User Name</h1>
        <h2>Followers:</h2>

        <ul>
            <!-- Iterate over the followers content -->
            <li th:each="follow : ${followers.content}">
                <a th:href="@{${'/profile/' + follow.follower.username}}">
                    <img th:src="@{${follow.follower.avatarImagePath}}" class="follower-avatar">
                </a>
                <!-- Access the 'follower' user details -->
                <a class="link-item" th:href="@{/profile/{username}(username=${follow.follower.username})}"
                    th:text="${follow.follower.displayName}">Follower Name</a>
            </li>
        </ul>

        <p th:if="${#lists.isEmpty(followers.content)}">No followers to display.</p>

        <!-- Pagination -->
        <div th:if="${followers.getTotalPages() > 1}">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <!-- Previous button -->
                    <li class="page-item" th:classappend="${followers.number == 0 ? 'disabled' : ''}">
                        <a class="page-link"
                            th:href="@{/followers/{username}(username=${user.username}, followerPage=${followers.number})}"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- Page number buttons -->
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, followers.totalPages)}"
                        th:classappend="${pageNumber == followers.number + 1 ? 'active' : ''}">
                        <a class="page-link"
                            th:href="@{/followers/{username}(username=${user.username}, followerPage=${pageNumber})}"
                            th:text="${pageNumber}"></a>
                    </li>

                    <!-- Next button -->
                    <li class="page-item"
                        th:classappend="${followers.number + 1 == followers.totalPages ? 'disabled' : ''}">
                        <a class="page-link"
                            th:href="@{/followers/{username}(username=${user.username}, followerPage=${followers.number + 2})}"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Back to Profile Link -->
        <a class="link-item" th:href="@{/profile/{username}(username=${user.username})}">Back to Profile</a>
    </main>
</body>

</html>
