<!DOCTYPE html>
<html lang="en" th:replace="~{home/layout.html :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${user.displayName} + ' - Followings'">Followings</title>
</head>

<body>
    <main class="followings">
        <link rel="stylesheet" th:href="@{/css/followings.css}">
        <h1 th:text="${user.displayName}">User Name</h1>
        <h2>Followings:</h2>
        <ul>
            <li th:each="following : ${followings.content}">
                <a th:href="@{${'/profile/' + following.followed.username}}">
                    <img th:src="@{${following.followed.avatarImagePath}}" class="following-avatar">
                </a>
                <a class="link-item" th:href="@{/profile/{username}(username=${following.followed.username})}"
                    th:text="${following.followed.displayName}">User Name</a>
            </li>
        </ul>

        <p th:if="${#lists.isEmpty(followings.content)}">No followings to display.</p>

        <!-- Pagination -->
        <div th:if="${!#lists.isEmpty(followings.content) && followings.totalPages > 1}">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <!-- Previous button -->
                    <li class="page-item" th:classappend="${followings.number == 0 ? 'disabled' : ''}">
                        <a class="page-link"
                            th:href="@{/followings/{username}(username=${user.username}, followingPage=${followings.number})}"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- Page number buttons -->
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, followings.totalPages)}"
                        th:classappend="${pageNumber == followings.number + 1 ? 'active' : ''}">
                        <a class="page-link"
                            th:href="@{/followings/{username}(username=${user.username}, followingPage=${pageNumber})}"
                            th:text="${pageNumber}"></a>
                    </li>

                    <!-- Next button -->
                    <li class="page-item"
                        th:classappend="${followings.number + 1 == followings.totalPages ? 'disabled' : ''}">
                        <a class="page-link"
                            th:href="@{/followings/{username}(username=${user.username}, followingPage=${followings.number + 2})}"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <a class="link-item" th:href="@{/profile/{username}(username=${user.username})}">Back to Profile</a>
    </main>
</body>

</html>
