<!DOCTYPE html>
<html lang="en" th:replace="~{home/layout.html :: layout(~{::main})}" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
</head>

<body>
    <main class="updateProfile">
        <link rel="stylesheet" th:href="@{/css/updateProfile.css}">
        <h1>Update Profile</h1>

        <!-- Display error message if any -->
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>

        <!-- Profile Update Form -->
        <form th:action="@{/updateProfile}" class="updateForm" th:object="${userDTO}" method="post">
            <!-- Avatar Upload -->
            <div>
                <label for="avatar">Profile Picture:</label>
                <input id="avatar-path" th:field="*{avatarImagePath}" type="hidden">
                <input type="file" id="avatar" name="avatar" accept=".png, .jpg, .jpeg" onchange="uploadImage(this)"/>
                <div>
                    <img id="user-avatar" th:src="@{${userDTO.avatarImagePath}}" alt="User Avatar" width="150" height="150" />
                </div>
            </div>

            <!-- Display Name -->
            <input type="hidden" th:field="*{id}" th:value="*{id}">
            <div>
                <label for="displayName">Display Name:</label>
                <input type="text" id="displayName" th:field="*{displayName}" required />
                <p th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}">Invalid display name</p>
            </div>

            <!-- Introduction -->
            <div>
                <label for="introduction">Introduction:</label>
                <textarea id="introduction" th:field="*{introduction}" rows="4"></textarea>
                <p th:if="${#fields.hasErrors('introduction')}" th:errors="*{introduction}">Invalid introduction</p>
            </div>

            <!-- Email -->
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required />
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid email</p>
            </div>

            <div>
                <button type="submit">Update Profile</button>
            </div>
        </form>

        <a href="/profile">Back to Profile</a>

        <script>
            function uploadImage(input){
                const csrfToken = document.getElementById('csrf-token').value;

                var file = input.files[0];
                if(!file || !file.type.startsWith('image/')) return;

                const formData = new FormData();
                formData.append('image', file);

                fetch('/upload', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRF-TOKEN': csrfToken
                    }
                })
                    .then(response => response.json())
                    .then(response => {
                        document.getElementById('user-avatar').src = response.imageUrl;
                        document.getElementById('avatar-path').value = response.imageUrl
                    })
                    .catch(error => console.log("Err: " + error))
            }
        </script>
    </main>
</body>

</html>
