.post-item{
    background: #FFFFFF;
    padding: 16px;
    border-radius: 15px;
    margin-bottom: 16px;
}
.post-info{
    /*margin: 50px 10px;*/
    justify-content: center;
    align-content: center;
}
.post-item:hover {
    background-color: #F6F8F9;
}
.post-item a {
    text-decoration: none;
    color: inherit;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.author-avatar{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ddd;
}
.author-link:hover{
    /*text-decoration: underline;*/
    /*font-weight: lighter;*/
    color: #37449B;
}
.author {
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1b;
}
.date {
    opacity: 0.5;
    color: #787c7e;
    font-size: 0.9em;
}

.post-title{
    display: -webkit-box;      /* Flex layout that works for truncating */
    -webkit-line-clamp: 2;     /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 550;
    color: #1a1a1b;
    margin-bottom: 8px;
    text-decoration: none;
}

.post-title:hover {
  color: #0079d3;
}

.post-tags{
    display: flex;
}

.post-tags {
    margin-top: 7px;
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
    text-decoration: none;           /* Remove underline */
}
.post-tag{
    background: #e9ecef;
    padding: 4px 12px;
    border-radius: 100px;
    font-size: 0.6em;
    color: #4a4a4a;
}
.post-tag:hover {
    background-color: darkgrey;       /* Darker shade on hover */
    color: #ffffff;                  /* Keep text color white */
    cursor: pointer;                 /* Pointer cursor on hover */
}

.post-image{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 7px;
}
.post-image img{
    width: 100%;
    border-radius: 15px;
}

.post-stats {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 0.9em;
}


/* Vote styling */
.vote-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    background-color: #E5EBEE;
    border-radius: 20px;
}

.votes{
    display: flex;
    align-items: center;
    background-color: #E5EBEE;
    border-radius: 20px;
    margin-left: 5px;
}
/* Views styling */
.views {
    display: flex;
    align-items: center;
    background-color: #E5EBEE;
    border-radius: 20px;
    padding: 6px;
}

.views::before {
    content: "👁";
    margin-right: 4px;
}
/* Comments styling */
.comments {
    display: flex;
    align-items: center;
    background-color: #E5EBEE;
    border-radius: 20px;
    padding: 6px;
}
.comments::before {
    content: "💬";
    margin-right: 4px;
}
/* Share button */
.share {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 6px 8px;
    background-color: #E5EBEE;
    border-radius: 20px;
}
.share::before {
    content: "↗";
    margin-right: 4px;
}
.share:hover {
    background: #f0f0f0;
}

.pagination {
    display: flex;
    padding: 0;
    margin: 20px 0;
    justify-content: center;
}
.pagination ul{
    list-style: none;
}
.pagination li {
    margin: 0 5px;
}
.pagination a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border-radius: 5px;
    transition: background-color 0.3s;
}
/*.pagination a:hover {*/
/*    background-color: #ddd;*/
/*}*/
.pagination .active a {
    color: #fff;
    background-color: #007bff;
    cursor: default;
}
.pagination .disabled a {
    color: #ccc;
    cursor: not-allowed;
    background-color: #f2f2f2;
}





