<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="../static/css/login-style.css" th:href="@{/css/login-style.css}" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <form th:action="@{/login}" th:object="${loginUser}" method="POST" class="login-box">
            <a th:href="@{/}" class="backhome"><img src="https://scontent.fhan18-1.fna.fbcdn.net/v/t39.30808-6/468354173_1134903034887278_6137360109493261194_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_ohc=C553lviiEawQ7kNvgHJkPKf&_nc_zt=23&_nc_ht=scontent.fhan18-1.fna&_nc_gid=A_7NR-vMYcIAsWpo3eFnXH6&oh=00_AYB6x19IWQzQi4sMMpz2sBBIjlwNjw_CWpYZGp4rz88SFw&oe=6749DCA5"></a>

            <div th:if="${param.error}" class="login-fail">
                Invalid username and password.
            </div>

            <div th:if="${param.logout}">
                Logout successfully!
            </div>

            <div th:if="${redirectParam != null}">
                <p class="redirect-param" th:text="${redirectParam}"> </p>
            </div>

            <h1 class="login-header">Login</h1>

            <div class="input-box">
                <input type="text" th:field="*{username}" id="user" class="input-field" required>
                <label for="user" class="label">Username</label>
                <i class="bx bx-user icon"></i>
            </div>

            <div class="input-box">
                <input type="password" th:field="*{password}" id="pass" class="input-field" required>
                <label for="user" class="label">Password</label>
                <i class="bx bx-lock-alt icon"></i>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />

            <div class="input-box">
                <input type="submit" class="input-submit" value="Login">
            </div>

            <div class="register">
                <a href="/forgot-password"> Forgot password? </a>
            </div>

            <div class="register">
                <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
            </div>

        </form>
    </div>
</body>
</html>
