<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>

<body>
    <div th:fragment="post-section">
        <link rel="stylesheet" th:href="@{/css/posts.css}">

        <div th:each="post : ${postList}" class="post-item">
            <div class="post-info">
                <div style="display: flex" class="post-header">
                    <a th:href="@{*{'/profile/' + post.getAuthor().getUsername()}}">
                        <img th:src="@{*{post.getAuthor().getAvatarImagePath()}}" class="author-avatar">
                    </a>
                    <a th:href="@{*{'/profile/' + post.getAuthor().getUsername()}}"
                        th:text="*{post.getAuthor().getDisplayName()}" class="author-link author"></a>
                    <p th:text="${#dates.format(post.getCreatedAt(), 'yyyy/MM/dd HH:mm')}" class="post-date date"></p>
                </div>

                <a th:href="@{*{'/post/' + post.getId()}}" th:text="*{post.getTitle()}" class="post-title"></a>

                <div class="post-tags">
                    <a th:each="tag : ${post.getTags()}" th:href="@{*{'/tag/' + tag.name}}" class="post-tag"
                        th:text="*{tag.getName()}">
                    </a>
                </div>

                <div th:if="${post.thumbnailUrl != null}" class="post-image">
                    <img th:src="*{post.thumbnailUrl}">
                </div>

                <div class="post-stats">
                    <div class="vote-group">
                        <i class='bx bx-upvote'></i>
                        <span th:text="*{post.getUpvotes() + post.getDownvotes() + ' votes'}" class="votes">0</span>
                    </div>
                    <span class="views" th:text="*{post.getViews() + ' views'}">19</span>
                    <span th:text="*{post.getComments().size() + ' comments'}" class="comments">0</span>
                </div>
            </div>
        </div>

        <!-- Pagination Section -->
        <div class="pagination">
            <ul th:each="i : ${#numbers.sequence(1, T(java.lang.Math).max(postList.totalPages,1))}">
                <li th:classappend="${postList.number + 1 == i ? 'active' : ''}">
                    <a href="javascript:void(0)" th:onclick="'window.location.href = setPage(' + ${i} + ')'"
                        th:text="${i}"></a>
                </li>
            </ul>
        </div>

        <script>
            // Function to update the page number in the URL
            function setPage(page) {
                const url = new URL(window.location.href);
                url.searchParams.set('page', page); // Update the page parameter
                return url.toString(); // Navigate to the updated URL
            }
        </script>
    </div>
</body>

</html>
