<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div th:fragment="sidebar (followingTags)" class="side-bar">
        <link rel="stylesheet" th:href="@{/css/sidebar.css}">
        <div class="options">
            <form th:action="@{/}">
                <button type="submit">
                    <i class='bx bx-home' ></i>
                    <span>Home</span>
                </button>
            </form>

            <!-- Display posts with the most upvotes -->
            <form th:action="@{/}">
                <button type="submit">
                    <i class='bx bx-right-top-arrow-circle'></i>
                    <span>Popular</span>
                </button>
            </form>

            <!-- Display all tags (pagination) -->
            <form th:action="@{/tags}">
                <button type="submit">
                    <i class='bx bx-purchase-tag-alt' ></i>
                    <span>Tags</span>
                </button>
            </form>
        </div>

        <!-- Display followed tags -->
        <div class="following">
            <!-- Display followed tags -->
            <div th:if="${session.username != null}">
                <h3> Followed Tags </h3>
                <ul th:each="tag : ${followingTags}" class="optiontags">
                    <li>
                        <a th:href="@{${'/tag/' + tag.name}}" th:text="*{tag.getName()}"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>

</html>
